.text {
    text-align: center;
}

.container {
    margin-top: 20px;
    width: 50%;
    height: 50%;
}

.logo {
    height: 50px;
    width: 100px;
}

.button {
    text-align: center;
}

.footer {
    background-color: #0645ad;
    color: white;
}

.footer-link {
    text-decoration: none !important;
    color: white !important;
}

.footer-link:hover {
    color: #dbdbdb !important;
    transition: 0.3s;
}

#copyright {
    background-color: black !important;
}