.text {
    text-align: center;
}

.container {
    margin-top: 20px;
    width: 50%;
    height: 50%;
}

.logo {
    height: 50px;
    width: 100px;
}

.button {
    text-align: center;
}

.footer {
    background-color: #0645ad;
    color: white;
}

.footer-link {
    list-style: none !important;
    border: none !important;
    color: white !important;
    text-decoration: none !important;

}

.list-unstyled {
    flex-direction: column !important;
    left: 75% !important;
    position: relative !important;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    display: flex;
}

.footer-link:hover {
    color: #dbdbdb !important;
    transition: 0.3s;
}

.title {
    left: 75%;
    position: relative !important;
    font-size: 1.15em;
    border-bottom: 2px solid #6b8cff;
    display: inline-block;
    padding-bottom: 10px;
}

.footer-img {
    padding-top: 1%;
    float: left;
    height: 7% !important;
    width: 7% !important;
    left: 5% !important;
    position: relative !important;
}

.footer-content {
    display: inline;
    padding-top: 20% !important;
    margin-top: 10% !important;
    left: 40%;
    position: relative !important;
}
.card-title {
  color: #ffffff !important;
  font-size: 1.25em;
}
.card-text {
  font-weight: 600;
  color: #ccdceb !important;
}
.card-hover {
  background-color: #3755be !important;
  transition: 0.4s;
}
.card-hover:hover svg {
  transition: 0.4s;
  fill: #fff !important;
}
/* Card changes color on hover */
.card-hover:hover {
  background-color: #6479c3 !important;
  color: white !important;
  cursor: pointer !important;
}
/* Subtext changes on card hover */
.card-hover:hover .text-muted {
  color: white !important;
}
/* Icon changes on card hover */
.card-hover:hover .bi {
  color: white !important;
}
